.schedule-widget {
    position: relative;
    font-family: 'Calibri';
    overflow: hidden;
}

.schedule-widget__infoblock, .schedule-widget__timeblock {
    height: 31px;
    box-sizing: border-box;
}

.schedule-widget .schedule-widget__infoblock + .schedule-widget__infoblock {
    margin-top: -1px;
}

.schedule-widget__timeblock {
    border-style: solid;
    border-color: rgb(181, 191, 197);
    color: #495963;
    border-width: 1px 1px 1px 0;
    font-size: 10px;
    box-sizing: border-box;
    padding: 3px;
}

.schedule-widget__infoblock--firstofdate {
    border-top: 2px solid #fff;

}

.schedule-widget__timeblock--firstofdate {
    border-top: 2px solid #397ADA;
}

.schedule-widget .schedule-widget__timeblock + .schedule-widget__timeblock {
    margin-top: -1px;
}

.schedule-widget__infoblock:first-child {
    border-top: 0;
}

.schedule-widget__timeblock:first-child {
    border-top: 1px solid rgb(181, 191, 197);
}

.schedule-widget__events {
    position: absolute;
    top: 0;
    right: 20px;
    left: 60px;
}

.schedule-widget__infoevents {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.schedule-widget__event {
    background: rgb(220, 235, 252);
    border: 1px solid #AFC9F0;
    border-radius: 3px;
    padding: 7px;
    box-sizing: border-box;
    position: absolute;
    width: 100%;
}

.schedule-widget__event--info {
    right: 0;
    left: 0;
    z-index: 1;
    border-radius: 0;
    border: 0;
    background: rgba(255, 225, 171, 0.5);
    padding: 0;
}
.schedule-widget__event--info .schedule-widget__event__label, .schedule-widget__event--info .schedule-widget__event__time {
    clear: right;
    float: left;
    background: #FFE1AB;
    width: 100px;
    color: #C56706;
    font-size: 10px;
    margin-left: -100px;
}
.schedule-widget__event--info .schedule-widget__event__time {
    clear: left;
}

.schedule-widget__event--info .schedule-widget__eventinfo__timearrow {
    content: "";
width: 0;
height: 0;
background: transparent;
display: block;
right: 0;
border-width: 0 0 0 100px;
border-color: #FFE1AB transparent transparent;
border-style: solid;
top: 0;
z-index: -1;
float: left;
clear: left;
margin-left: -100px;
margin-top:-1px;
}

.schedule-widget__event__time {
    font-size: 11px;
    float: right;
    font-weight: normal;
    color: #3577D9;
}

.schedule-widget__event__label {
    font-size: 14px;
    color: #3577D9;
    font-weight: bold;
}

.contextual-menu {
    position: absolute;
    z-index: 5000;
    margin: 0;
    padding: 0;
    background: white;
    border: 1px solid #dedede;
    list-style: none;
    box-shadow: 3px 3px 6px -3px #666;
    font-family: 'Calibri';
}
.contextual-menu__item {
    padding-right: 15px;
    min-width: 200px;
    cursor: default;
    font-size: 14px;
}
.contextual-menu__item:hover {
    background: #f0f0f0;
}
.contextual-menu__item__icon {
    display: inline-block;
    width: 25px;
    text-align: center;
    padding: 5px 0;
    border-right: 1px solid #dedede;
    margin-right: 8px;
    color: #555;
}

.schedule-widget__info {
    position: absolute;
    width: 100px;
    top: 0;
    bottom: 0;
    background: #213F68;
    z-index: -2;
}

.schedule-widget__schedule {
    position: relative;
    left: 100px;
    width: calc(100% - 100px);
}

.schedule-widget__date {
    margin: 3px;
    display: inline-block;
    color: #fff;
    font-size: 14px;
}

[5:28 PM] Agusho:   addUserLikes(user:IUser, likes: any[] ) {
var headers = new Headers({
'Content-Type': 'application/json'
});
return this.http.post(
this._userFavoritesEndpoint(user),
JSON.stringify({ properties: likes }),
{headers: headers}
).map(data=>data.json());
}